absl-py==2.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.6
aiohttp-retry==2.9.1
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.0
asttokens
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
audioread==3.0.1
backcall 
backoff==2.2.1
base58==2.1.1
bitarray==3.0.0
CacheControl==0.14.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
ckzg==2.0.1
click==8.1.7
colorama 
comm 
cryptography==43.0.3
cytoolz==1.0.0
debugpy 
decorator 
deprecation==2.1.0
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.6.0
eth-rlp==2.1.0
eth-typing==5.0.1
eth-utils==5.1.0
eth_abi==5.1.0
exceptiongroup 
executing 
fastapi==0.115.0
firebase-admin==6.5.0
flatbuffers==24.3.25
frozenlist==1.4.1
gast==0.6.0
geographiclib==2.0
geopy==2.4.1
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gotrue==2.8.1
grpcio==1.67.0
grpcio-status==1.67.0
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hexbytes==1.2.1
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
hyperframe==6.0.1
idna==3.10
importlib-metadata 
ipfshttpclient==0.7.0
ipykernel 
ipython 
jedi
joblib==1.4.2
jupyter_client 
jupyter_core 
keras==3.6.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline 
mdurl==0.1.2
ml-dtypes==0.4.1
msgpack==1.1.0
multiaddr==0.0.9
multidict==6.1.0
namex==0.0.8
nest-asyncio 
netaddr==1.3.0
numba==0.60.0
numpy==2.0.2
opencage==3.0.2
opt_einsum==3.4.0
optree==0.13.0
packaging 
parsimonious==0.10.0
parso 
pickleshare 
platformdirs 
pooch==1.8.2
postgrest==0.16.11
prompt-toolkit 
proto-plus==1.25.0
protobuf==5.28.3
psutil 
pure-eval 
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments 
PyJWT==2.9.0
pyparsing==3.2.0
python-dateutil 
python-dotenv==1.0.1
python-multipart==0.0.17
pyunormalize==16.0.0
pyzmq 
realtime==2.0.2
regex==2024.9.11
requests==2.32.3
rich==13.9.4
rlp==4.0.1
rsa==4.9
scikit-learn==1.5.2
scipy==1.13.1
six 
sniffio==1.3.1
soundfile==0.12.1
soxr==0.5.0.post1
stack-data 
starlette==0.38.6
storage3==0.7.7
StrEnum==0.4.15
supabase==2.7.4
supafunc==0.5.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl==3.5.0
toolz==1.0.0
tornado 
tqdm==4.66.6
traitlets 
twilio==9.3.6
types-requests==2.32.0.20241016
typing_extensions
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.30.6
varint==1.0.2
wcwidth 
web3==7.4.0
websockets==12.0
Werkzeug==3.1.3
wrapt==1.16.0
yarl==1.12.1
zipp
